@font-face {
    font-family: "Noto_black";
    src: url(../font/NotoSerifJP-Black.otf);
}
@font-face {
    font-family: "Noto_bold";
    src:url(../font/NotoSerifJP-Bold.otf);
} 
@font-face {
    font-family: "Noto_semibold";
    src: url(../font/NotoSerifJP-SemiBold.otf);
}
@font-face {
    font-family: "Noto_medium";
    src: url(../font/NotoSerifJP-Medium.otf);
}
@font-face {
    font-family: "Noto_regular";
    src: url(../font/NotoSerifJP-Regular.otf);
}
@font-face {
    font-family: "Noto_light";
    src: url(../font/NotoSerifJP-Light.otf);
}
@font-face {
    font-family: "Noto_extralight";
    src: url(../font/NotoSerifJP-ExtraLight.otf);
}